body {
  max-width:95%;
  display:grid;
  grid-template-columns:15px 1fr 1fr 1fr 15px;
  grid-template-areas:"br br br br br"
  "am am am am am"
  "bg bg bg sb sb"
  "pj pj pj pj pj"
  "footer footer footer footer footer"
}

.banner {
  grid-area:br;
  background:lightcoral;
  border:2px solid black;
  text-align:center;
  margin:4px;
  box-sizing:border-box;
}

.about-me {
  grid-area:am;
  background:green;
  border:2px solid black;
  margin:4px;
  padding:1em;
  
}

.about-content {
  padding:
}


.background {
  grid-area:bg;
  background:lightblue;
  margin:4px;
  border:2px solid black;
  padding:1em;
  box-sizing: border-box;
}

.projects {
  grid-area:pj;
}

.footer {
  grid-area:footer;
}

.sidebar {
  grid-area:sb;
  height:373px;
  background:red;
  padding:1em;
  margin:4px;
  border:2px solid black;
  box-sizing:border-box;
}

img {
  width:200px;
  height:200px;
  float: left;
  border:2px solid black;
  margin:4px;
}

.emphasis {
  font-weight:bold;
  text-decoration:underline;
}

.projects {
  margin:4px;
  padding:1em;
  border:2px solid black;

}

.projects-card {
  Border:2px solid black;
  width:95%;
  margin:4px;
  padding:1em;
}

.projects-img {
  height:150px;
  width:200px;
}

.button{
  background:lightblue;
  box-shadow:2px 2px;
  margin:1px;
  padding:2px;
  justify-content: center;
  text-decoration:none;
}