body {
  width:100vw;
  display:grid;
  grid-template-columns:15px 1fr 1fr 1fr 15px;
  grid-template-areas:"br br br br br"
  "am am am am am"
  "bg bg bg sb sb"
  "pj pj pj pj pj";
  box-sizing:border-box;
}

header {
  height:100vh;
  grid-area:br;
  background-image:url(../img/background.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  font-family: 'Pacifico', cursive;
}

.header-title {
  font-size: 75px;
  padding: 5px;
}

.header-subtitle {
  font-size: 30px;
}

.aboutme-title{
  align-items: center;
  display:flex;
  justify-content:center;
  font-family: 'Pacifico', cursive;
  font-weight:bold;
}

.aboutme-content {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.aboutme-text {
  width:30%;
  float:left;
  opacity:0;
  transform:translateY(20px);
  transition: 0.5s all ease-in-out;
}

.aboutme-appear {
  opacity:1;
  transform:translateY(0px);
}

section {
  grid-area:am;
  margin:4px;
  padding:1em;
  font-size:20px;
}

.background {
  grid-area:bg;
  background:lightblue;
  margin:4px;
  border:2px solid black;
  padding:1em;
  font-size: 16px;
}

.projects {
  grid-area:pj;
}

aside {
  grid-area:sb;
  height:384px;
  background:lightblue;
  padding:1em;
  margin:4px;
  border:2px solid black;
  font-size:18px;
}

.me {
  height:550px;
  width:550px;
  display:inline;
  object-fit:cover;
  border: 3px solid black;
}

.emphasis {
  font-weight:bold;
  text-decoration:underline;
}

.projects {
  background:black;
  padding:1em;
  width:100vw;

}

.projects-card {
  background:lightgrey;
  Border:2px solid black;
  width:95%;
  margin:4px;
  padding:1em;
  font-size:17px;
}

.projects-img {
  height:150px;
  width:200px;
  object-fit:cover;
}

.button{
  background:lightblue;
  box-shadow:2px 2px;
  margin:1px;
  padding:2px;
  justify-content: center;
  text-decoration:none;
}

.project{
  background-color: black;
  width: 100vw;
}

.one {
  background-image: url("../img/Capture.JPG");
  object-fit: cover;
}